<div class="main-contain">
    <ng-container *ngIf="categoryList && difficultyList">
        <form [formGroup]="quizForm" name="quizForm" class="quizForm">
            <div>
                <select formControlName="categorySelect" id="categorySelect" name="categorySelect" class="form-control">
                    <option value="">Select a category</option>
                    <option *ngFor="let record of categoryList" [value]="record.id">{{record.name}}</option>
                </select>   
            </div>
            <div>
                <select formControlName="difficultySelect" id="difficultySelect" name="difficultySelect" class="form-control">
                    <option value="">Select Difficulty</option>
                    <option *ngFor="let record of difficultyList" [value]="record">{{record}}</option>
                </select>  
            </div>
            <button class="btn-primary" type="submit" name="createBtn" id="createBtn" [disabled]="quizForm.invalid" (click)="onSubmitQuizForm()">Create</button>
        </form>
    </ng-container>

    <ng-container *ngIf="showQuestion">
        <div class="questionList">
            <app-question [showAnswer]="false" [questionList]="questionList" [totalCorrectAnswer]="[]"></app-question>
        </div>
    </ng-container>
</div>
