.question-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.question-answer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-ans {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.btn-ans-hover:hover {
    background-color: green;
}

.selected-ans-right {
    background-color: green;
}

.selected-ans-wrong {
    background-color: red;
}

.btn-question-submit {
    background-color: cadetblue;
    padding: 10px;
    margin-top: 25px;
    width: 450px;
    cursor: pointer;
}

.result-text {
    padding: 2px;
    margin-top: 25px;
    width: 300px;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.btn-create-quiz {
    background-color: gray;
    padding: 10px;
    margin-top: 25px;
    width: 450px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
}



